<h1>ConnectFour!</h1>

<%= image_tag 'Connect_Four.gif', title: '"Connect Four" by Silver Spoon - Own work. Licensed under CC BY-SA 3.0 via Wikimedia Commons - http://commons.wikimedia.org/wiki/File:Connect_Four.gif#mediaviewer/File:Connect_Four.gif' %>
<%= button_to 'Player1 start', '/games/1', method: 'get' %>
<%= button_to 'Player2 start', '/games/2', method: 'get' %>
