<h2><%= @player %></h2>

<table id="board">
  <thead>
    <tr>
      <% (0..6).each do |colnum| %>
        <th>V</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (0..5).each do |rownum| %>
      <tr>
        <% (0..6).each do |colnum| %>
          <td>@board[<%= colnum %>][<%= rownum %>] <%= @board[colnum][rownum] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
